/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Typography */
body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    margin-bottom: 1rem;
}

a {
    text-decoration: none;
    color: #c35af3;;
}

/* Layout */
#main-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    padding: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

#main-logo {
    font-size: 2rem;
    font-weight: bold;
}

main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem;
}

.btn {
    background-color: #c35af3;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    text-decoration: none;
  }
  
 .btn:hover {
    background-color: #b251df;
  }
  


/* Responsive */
@media screen and (max-width: 768px) {
    #main-header {
        flex-direction: column;
    }

    #main-logo {
        margin-bottom: 1rem;
    }
}